<div class="cabeza">
  <div class="page-container">
    <header>
      <nav class="navbar">
        <a routerLink="/home">
          <img src="envio1.png" alt="Shalom Logo" class="logo">
        </a>
        <ul class="nav-menu">
          <li><a routerLink="/home"><i class="fas fa-home"></i> Inicio</a></li>
          <li><a routerLink="/rastrear"><i class="fas fa-search"></i> Rastrea</a></li>
          <li><a routerLink="/pagalo"><i class="fas fa-dollar-sign"></i> Págalo</a></li>
          <li><a routerLink="/agencias"><i class="fas fa-building"></i> Agencias</a></li>
          <li><a routerLink="/tarifas"><i class="fas fa-tags"></i> Tarifas</a></li>
        </ul>
        <div class="user-options">
          <a href="#" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
          <a routerLink="/perfil" class="profile-icon"><i class="fas fa-user"></i></a>
        </div>
      </nav>
    </header>
  </div>
</div>
