.page-container {
  display: flex;
}

.tarifas-container {
  flex: 1;
  padding: 20px;
  margin-left: 20px; /* Asegura que la tabla esté al lado del sidebar */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #002a4c;
}
