<aside class="sidebar">
    <ul>
      <li>
        <a href="#" class="toggle-submenu"><i class="fas fa-ship"></i> Flota Shalom</a>
        <ul class="submenu">
          <li><a href="/flota-info">Información de la Flota</a></li>
          <li><a href="/rutas-horarios">Rutas y Horarios</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="toggle-submenu"><i class="fas fa-concierge-bell"></i> Servicios</a>
        <ul class="submenu">
          <li><a href="servicios-terrestre">Terrestre</a></li>
          <li><a href="/servicios-aereo">Aéreo</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="toggle-submenu"><i class="fas fa-paper-plane"></i> Envia</a>
        <ul class="submenu">
          <li><a href="/envio-crear">Crear Envío</a></li>
          <li><a href="/envio-historial">Historial de Envíos</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="toggle-submenu"><i class="fas fa-info-circle"></i> Shalom Informa</a>
        <ul class="submenu">
          <li><a href="#">Noticias</a></li>
          <li><a href="#">Promociones</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="toggle-submenu"><i class="fas fa-question-circle"></i> Ayuda</a>
        <ul class="submenu">
          <li><a href="#">Preguntas Frecuentes</a></li>
          <li><a href="#">Contacta con Nosotros</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="toggle-submenu"><i class="fas fa-comments"></i> Comunícate</a>
        <ul class="submenu">
          <li><a href="#">Soporte Técnico</a></li>
          <li><a href="#">Redes Sociales</a></li>
        </ul>
      </li>
    </ul>
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
      <a href="#"><i class="fab fa-tiktok"></i></a>
      <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
  </aside>
  