<div class="page-container">
    <app-header></app-header>
  
    <!-- Content Wrap -->
    <div class="content-wrap">
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>
  
      <!-- Main Content -->
      <main class="main-content">
        <!-- Section with Hero Image -->
        <section class="hero-section">
          <h1>Envía con Confianza y Facilidad</h1>
          <p>Explora nuestras soluciones de envío rápido y seguro, adaptadas a tus necesidades.</p>
          <button class="cta-button">Comienza Ahora</button>
        </section>
  
        <!-- Card Section -->
        <div class="card-grid enhanced-grid">
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRytcs9EegdgXm4Vo5m5g2QG_88z5FIbtqe7w&s" alt="Servicio de calidad">
            <h3>Servicio de Calidad</h3>
            <p>Brindar un servicio de calidad es nuestra prioridad.</p>
          </div>
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRytcs9EegdgXm4Vo5m5g2QG_88z5FIbtqe7w&s" alt="Gestión de envíos">
            <h3>Gestión Simple</h3>
            <p>Registra, paga y rastrea tus envíos fácilmente.</p>
          </div>
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRytcs9EegdgXm4Vo5m5g2QG_88z5FIbtqe7w&s" alt="Envíos aéreos">
            <h3>Envíos Aéreos</h3>
            <p>¿Quieres registrar envíos aéreos? ¡Ahora es posible!</p>
          </div>
          <div class="card">
            <img src="/src/assets/envio1.png" alt="Consulta de tiempos">
            <h3>Tiempos de Entrega</h3>
            <p>Consulta el tiempo de llegada de un envío en: tarifas.shalom.pe</p>
          </div>
        </div>
  
        <!-- EnvíoFácil Section -->
        <div class="enviofacil-section bg-white rounded-lg shadow p-4 mb-4">
          <h2>Bienvenido a EnvíoFácil</h2>
          <div class="bg-white rounded-lg shadow p-4 mb-4">
            <h3 class="font-semibold mb-2">Envíos Activos</h3>
            <ul>
              <li class="mb-2">
                <span class="font-medium">code.envio</span>
              </li>
            </ul>
          </div>
          <button class="action-button" routerLink="/envio">
            Nuevo Envío
          </button>
        </div>
      </main>
    </div>
  
    <!-- Footer -->
    <footer>
      <ul class="footer-menu">
        <li><a href="#">Embalaje</a></li>
        <li><a href="#">Destinos aéreos</a></li>
        <li><a href="#">Protege tus envíos</a></li>
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Libro de reclamaciones</a></li>
      </ul>
    </footer>
  </div>
  
  <!-- Chat Button -->
  <button class="chat-button"><i class="fas fa-comments"></i> Chat Shalom</button>
  